<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Bookmark List Page</h1>

  <table class="table">

    <thead>
    <tr>
      <th>Tour Name</th>
      <th>Bookmarked By</th>
      <th>Update Time</th>
      <!--      <th colspan="2"></th>-->
    </tr>
    </thead>

    <tbody>

    <% @tours.each do |t| %>

      <% @bookmarks = t.bookmarks %>

      <% @bookmarks.each do |bookmark| %>


        <% if (bookmark.user_id == current_user.id) || (current_user.role.match(/admin/)) %>


          <tr>
            <th><%= t.name %></th>
            <td><%= bookmark.user.name %></td>
            <td><%= bookmark.updated_at %></td>
          </tr>


        <% end %>


      <% end %>

    <% end %>

    </tbody>

  </table>


  <!--      <ul class="nav navbar-nav pull-right">-->
  <!--        <ul class="nav navbar-nav pull-right">-->
  <%# if user_signed_in? %>
  <!--            <li><%#= current_user.email %></li>-->
  <!--            <li><%#= link_to 'Log out', destroy_user_session_path, method: :delete %></li>-->
  <%# else %>
  <!--            <li><%#= link_to 'Log In', new_user_session_path %></li>-->
  <!--            <li><%#= link_to 'Sign Up', new_user_registration_path %></li>-->
  <%# end %>
  <!--        </ul>-->
  <!--      </ul>-->


<!--  <p><%#= link_to 'check the tour', tours_path %></p>-->
<!--  <p><%#= link_to 'check the wait list', home_waitlistboard_path%></p>-->
<!--  <p><%#= link_to 'check the booking list', home_booklistboard_path%></p>-->
<!--  <p><%#= link_to 'check the bookmark list', home_bookmarklistboard_path%></p>-->
<%#= link_to 'Dash Board', tours_dashboard_path %>
  <p><%= link_to 'Back', root_path %></p>
</div>