<% @books.each do |b| %>

  <% if b.user_id == current_user.id %>


    <%= form_for ([@tour, @review]) do |form| %>

      <div class="field">
        <p>Add your review here:</p>
        <p><%= form.label :subject %></p>
        <!--    required true is the html5 client check if field is empty or not-->
        <p><%= form.text_field :subject, required: true %></p>
        <p><%= form.label :message %></p>
        <!--    required true is the html5 client check if field is empty or not-->
        <p><%= form.text_field :message, required: true %></p>
        <p>
          <% form.hidden_field :user_id, value: current_user.id %></p>
      </div>


      <div class="actions">
        <p><%= form.submit "add a review" %></p>
      </div>


    <% end %>

  <% end %>


<% end %>


