<h1>Editing Review</h1>

<%= form_for ([@tour, @review]) do |f| %>

  <div class="field">
    <%= f.label :review %>
    <!--    required true is the html5 client check if field is empty or not-->
    <%= f.text_field :review, required: true%>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>


  <div class="actions">
    <%= f.submit"edit a review" %>
  </div>

<% end %>


<%= link_to 'Back', tour_path(@tour) %>
