<%= form_with(model: tour, local: true) do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <p><%= form.label :name %></p>
    <p><%= form.text_field :name,required: true %></p>
  </div>

  <div class="field">
    <p><%= form.label :description %></p>
    <p><%= form.text_area :description %></p>
  </div>

  <div class="field">
    <p><%= form.label :total_seat %></p>
    <p><%= form.number_field :total_seat,required: true %></p>
<!--    <p><%# form.label :aval_seat %></p>-->
    <p><% form.hidden_field :aval_seat, value: tour.total_seat %></p>
  </div>

  <div class="field">
    <p><%= form.label :price %></p>
    <p><%= form.number_field :price, required: true, step: :any %></p>
  </div>

  <div class="field">
    <p><%= form.label :booking_deadline %></p>
    <p><%= form.date_select :booking_deadline %></p>
  </div>

  <div class="field">
    <p><%= form.label :start_date %></p>
    <p><%= form.date_select :start_date %></p>
  </div>

  <div class="field">
    <p><%= form.label :end_date %></p>
    <p><%= form.date_select :end_date %></p>
  </div>

  <div class="field">
    <p><%= form.label :start_location %></p>
    <p><%= form.text_field :start_location, required: true %></p>
  </div>

  <div class="field">
    <p><%= form.label :contact_information %></p>
    <p><%= form.text_field :contact_info, required: true %></p>
  </div>

  <div class="actions">
    <p><%= form.submit %></p>
  </div>
<% end %>
