<div class="container">

<p id="notice"><%= notice %></p>



<h1>Tours</h1>
<p>
  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= tour.description %></td>
        <td><%= tour.user.name %></td>
        <td><%= link_to 'Show', tour %></td>
        <%if (current_user) && ( current_user.role.match?(/admin|agent/) )  %>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</p>

<br>

<p><%= link_to 'Create a new tour', new_tour_path %></p>
<%#= link_to 'Back to Welcome Page', root_path %>
<%#= link_to 'Dash Board', tours_dashboard_path %>
</div>