<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tour.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>


<p>
  <strong>Total Seats:</strong>
  <%#= @tour.description %>
</p>

<p>
  <strong>Available Seats:</strong>
  <%#= @tour.description %>
</p>

<%= render 'reviews/form' %>
<%= render 'reviews/review' %>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
